body {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
}

.col {
  background-color: aquamarine;
  width: 100px;
  height: 100%;
  border: 1px solid black;
}
